<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoliu.centerbiz.dao.IRoleUserDao">
	<!-- 实体 -->
	<resultMap id="roleUser" type="com.xiaoliu.centerbiz.domain.RoleUser">
		<id column="id" property="id" />
		<result column="role_id" property="roleId" />
		<result column="user_id" property="userId" />
		<result column="created" property="created" />
		<result column="modified" property="modified" />
	</resultMap>
	
	<!-- 分页查询并排序 -->
	<select id="listRoleUsers" resultMap="roleUser">
		SELECT * FROM role_user a
		<where>
				<if test="params.containsKey('roleId') and params.roleId != null">AND role_id = #{params.roleId}</if>
				<if test="params.containsKey('userId') and params.userId != null">AND user_id = #{params.userId}</if>
				<if test="params.containsKey('created') and params.created != null">AND created = #{params.created}</if>
				<if test="params.containsKey('modified') and params.modified != null">AND modified = #{params.modified}</if>
		</where>
		<if test="orders != null">
			order by
			<foreach item="value" separator="," index="key" collection="orders">
				a.${key} ${value}
			</foreach>
		</if>
	</select>
	
	<!-- 新增 -->
	<insert id="addRoleUser" useGeneratedKeys="true" keyProperty="id"> 
		INSERT INTO role_user 
		(role_id,user_id,created,modified) 
		VALUES
		(#{roleId},#{userId},#{created},#{modified})
	</insert>
	
	<!-- 修改 -->
	<update id="updateRoleUser">
		UPDATE role_user
		<set>
			<if test="params.containsKey('roleId') and params.roleId != null">role_id = #{params.roleId},</if>
			<if test="params.containsKey('userId') and params.userId != null">user_id = #{params.userId},</if>
			<if test="params.containsKey('created') and params.created != null">created = #{params.created},</if>
			<if test="params.containsKey('modified') and params.modified != null">modified = #{params.modified},</if>
		</set>
		where id = #{params.id}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteRoleUsers">
		DELETE FROM role_user
		<where>
			id in
			<foreach collection="ids" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</where>
	</delete>
</mapper>